@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    font-size: 1vw;
}
*
{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 60rem;
    border: none;
    border-radius: 2rem;
    background-color: #44444469;
}
.main .options
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}
.main .options h1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    color: #ff7300;
}
.main .options h1 img
{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    filter: invert(0.8);
}
.main .options #inputBox
{
    position: relative;
    margin-top: 15%;
    width: 70%;
    height: 6%;
    padding: 0.5% 5%;
    border: none;
    border-radius: 20rem;
    text-align: center;
}
.main .options #inputBox:focus
{
    outline: #ff7300 solid 0.2rem;
    transition: all 0.2s;
}
.main .options p#error
{
    font-size: 0.85rem;
    margin-top: 0.2rem;
    color: #ff4b4b;
    height: 0.5rem;
}
.main .options #generateBtn
{
    position: relative;
    margin-top: 2.5rem;
    padding: 2% 5%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7300;
    border: #ff7300 solid 0.2rem;
    border-radius: 20rem;
    transition: all 0.2s;
}
.main .options #generateBtn img
{
    height: 1.75rem;
    width: 1.75rem;
    margin-left: 0.5rem;
    transition: all 0.4s;
}
.main .options #generateBtn:hover
{
    cursor: pointer;
    background: none;
    color: #fff;
}
.main .options #generateBtn:hover img
{
    filter: invert(1);
    transform: rotate(270deg);
}
.main .qrContainer
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.main .qrContainer .qrCode
{
    width: 60%;
    height: auto;
    border: none;
}
.main .qrContainer .qrCode img
{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}